Repository vortexmakes/RKH, changes with the owners that CODEOWNERS names for each.
All owners: @leanfrancucci, @dariosb, @cmancon

CODEOWNERS:

# 
# CODEOWNERS for autoreview assigning in GitHub
# See https://help.github.com/en/articles/about-code-owners#codeowners-syntax
#

# These owners will be the default owners for everything in the repo. 
# Unless a later match takes precedence, these codeowners will be requested 
# for review when someone opens a pull request.
# Order is important; the last matching pattern takes the most precedence. 
*                                                       @leanfrancucci

/.github/                                               @leanfrancucci
/demo/80x86/                                            @leanfrancucci
/demo/cross/blinky/build/80x86/                         @leanfrancucci
/demo/cross/blinky/build/80x86/                         @leanfrancucci
/demo/cross/blinky/build/arm-cortex/                    @dariosb @cmancon
/demo/cross/blinky/build/cfv1/                          @dariosb
/demo/cross/blinky/build/s08/                           @dariosb
/demo/cross/shared/build/80x86/linux_st/eclipse_cdt/    @cmancon
/demo/cross/shared/build/80x86/win32_*/                 @leanfrancucci
/demo/cross/shared/build/arm-cortex/                    @dariosb
/demo/libbsp/                                           @dariosb
/doc/                                                   @leanfrancucci
/source/                                                @leanfrancucci
/source/portable/80x86/                                 @leanfrancucci
/source/portable/arm-cortex/                            @dariosb
/source/portable/cv1/                                   @dariosb
/source/portable/s08/                                   @dariosb
/source/portable/test/                                  @leanfrancucci
/source/portable/ucos/                                  @dariosb
/template/                                              @leanfrancucci
/third-party/                                           @leanfrancucci
/third-party/unitrazer                                  @dariosb
/third-party/utrazer                                    @dariosb
/tools/                                                 @leanfrancucci

Added environment variable definition in README
  tools/deploy/README.md
Owners: @leanfrancucci

Marked changelog.json to change it in develop
  tools/deploy/changelog.json
Owners: @leanfrancucci

Added test mode to deploy.py
  tools/deploy/deploy.py
Owners: @leanfrancucci

Allowed deploy script to run on test mode in different branches
  tools/deploy/deploy.py
Owners: @leanfrancucci

Added change logs for 3.4.00 version
  tools/deploy/changelog.json
Owners: @leanfrancucci

Updated version and log of code changes
  VERSION
  doc/chglog.txt
  source/fwk/inc/rkhfwk_version.h
Owners: @leanfrancucci

feat: Add event propagation
  source/fwk/inc/rkhitl.h
  source/sm/inc/rkhsm.h
  source/sm/test/support/common.c
  source/sm/test/support/common.h
  source/sm/test/support/smTest.c
  source/sm/test/support/smTestAct.h
  source/sm/test/test_rkhsm.c
  source/sma/project.yml
  source/sma/test/support/bsp.h
  source/sma/test/support/smPolymorphism.c
  source/sma/test/support/smPolymorphism.h
  source/sma/test/test_rkhsma.c
Owners: @leanfrancucci

chore: Add additional files
  source/sm/src/rkhsm.c
  tools/deploy/changelog.json
Owners: @leanfrancucci

chore: Add configuration file of clang format tool
  .clang-format
Owners: @leanfrancucci

fix: Global variable definitions of rkhsm unit tests
  source/sm/test/test_rkhsm.c
Owners: @leanfrancucci

ci: Print tools version on test-all script
  tools/ceedling/test-all.sh
Owners: @leanfrancucci

ci: Trigger CI when submodule Ceedling is updated
  .github/workflows/ceedling-test.yml
Owners: @leanfrancucci

ci: Update badges
  README.md
Owners: @leanfrancucci

feat: Add member type to event queue type
  source/queue/inc/rkhqueue.h
  source/queue/project.yml
  source/queue/src/rkhqueue.c
  source/queue/test/support/rkhcfg.h
  source/queue/test/test_rkhqueue.c
Owners: @leanfrancucci

feat: Impl get highest priority elem from a queue
  source/fwk/inc/rkhevt.h
  source/queue/inc/rkhqueue.h
  source/queue/src/rkhqueue.c
  source/queue/test/support/rkhcfg.h
  source/queue/test/test_rkhqueue.c
Owners: @leanfrancucci

test: Add queue module to automatic tests
  tools/ceedling/test-all.sh
Owners: @leanfrancucci

docs: Document RKH_CFG_QUE_PRIORITY_EN conf. opt
  doc/readme.txt
  doc/rkhcfg.h
Owners: @leanfrancucci

docs: Improve comments
  source/fwk/inc/rkhevt.h
  source/queue/inc/rkhqueue.h
  source/queue/src/rkhqueue.c
Owners: @leanfrancucci

feat: Deal with RKH_CFG_QUE_PRIORITY_EN
  source/queue/src/rkhqueue.c
Owners: @leanfrancucci

feat: Deal with RKH_CFG_QUE_PRIORITY_EN
  source/queue/src/rkhqueue.c
Owners: @leanfrancucci

feat: Support RKH_CFG_QUE_PRIORITY_EN in macros
  source/fwk/inc/rkhitl.h
Owners: @leanfrancucci

test: Improve queue unit tests
  source/queue/test/test_rkhqueue.c
Owners: @leanfrancucci

feat: Support RKH_CFG_QUE_PRIORITY_EN conf. opt
  demo/80x86/ahsm/rkhcfg.h
  demo/80x86/blinky/src/rkhcfg.h
  demo/80x86/subm/rkhcfg.h
  demo/cross/blinky/rkhcfg.h
  demo/cross/shared/rkhcfg.h
  source/fwk/test/support/rkhcfg.h
  source/queue/test/support/rkhcfg.h
  source/sm/test/support/rkhcfg.h
  source/sma/test/support/rkhcfg.h
  source/tmr/test/support/rkhcfg.h
  source/trc/test/support/rkhcfg.h
  third-party/utrazer/rkhcfg.h
Owners: @leanfrancucci, @dariosb

ci: Update actions/cache to version 4
  .github/workflows/compliance.yml
Owners: @leanfrancucci

fix: Line number on assertions
  demo/libbsp/platform/80x86/linux/assert.c
Owners: @dariosb

feat: Add macro to get module name
  source/fwk/inc/rkhfwk_module.h
Owners: @leanfrancucci

fix: Stop framework scheduler on exit
  source/portable/80x86/linux_st/gnu/rkhport.c
Owners: @leanfrancucci

fix: Unblock semaphore when stopping framework
  source/portable/80x86/linux_st/gnu/rkhport.c
Owners: @leanfrancucci

chore: Update .clang-format
  .clang-format
Owners: @leanfrancucci

chore: Move demos special AO rkhcfg.h files
  demo/80x86/Monitor/src/rkhcfg.h
  demo/80x86/PulseCounterMgr/.tasks
  demo/80x86/PulseCounterMgr/src/rkhcfg.h
  demo/80x86/SignalMgr/src/rkhcfg.h
Owners: @leanfrancucci

fix: Allow queue type member for any Queue config
  source/queue/inc/rkhqueue.h
Owners: @leanfrancucci

chore: Add .gitignore files to demos
  demo/80x86/Monitor/.gitignore
  demo/80x86/PulseCounterMgr/.gitignore
  demo/80x86/SignalMgr/.gitignore
Owners: @leanfrancucci

chore: Add .tasks file to Monitor demo
  demo/80x86/Monitor/.tasks
Owners: @leanfrancucci

chore: Ignore some files and dirs
  .gitignore
Owners: @leanfrancucci

chore: Improve Blinky .gitignore file
  demo/80x86/blinky/.gitignore
Owners: @leanfrancucci

docs: Fix a figure title
  doc/rkh_rep.txt
Owners: @leanfrancucci

fix: Add escape sequence to generate html pages
  tools/deploy/deploy.py
Owners: @leanfrancucci

docs: Update changelog.json file for v3.5.00
  tools/deploy/changelog.json
Owners: @leanfrancucci

Updated version and log of code changes
  VERSION
  doc/chglog.txt
  source/fwk/inc/rkhfwk_version.h
Owners: @leanfrancucci

fix: Use SSH within release and deploy scripts
  tools/deploy/deploy.py
Owners: @leanfrancucci
