Repository vortexmakes/RKH, changes with the owners that CODEOWNERS names for each.
All owners: @leanfrancucci, @dariosb, @cmancon

CODEOWNERS:

# 
# CODEOWNERS for autoreview assigning in GitHub
# See https://help.github.com/en/articles/about-code-owners#codeowners-syntax
#

# These owners will be the default owners for everything in the repo. 
# Unless a later match takes precedence, these codeowners will be requested 
# for review when someone opens a pull request.
# Order is important; the last matching pattern takes the most precedence. 
*                                                       @leanfrancucci

/.github/                                               @leanfrancucci
/demo/80x86/                                            @leanfrancucci
/demo/cross/blinky/build/80x86/                         @leanfrancucci
/demo/cross/blinky/build/80x86/                         @leanfrancucci
/demo/cross/blinky/build/arm-cortex/                    @dariosb @cmancon
/demo/cross/blinky/build/cfv1/                          @dariosb
/demo/cross/blinky/build/s08/                           @dariosb
/demo/cross/shared/build/80x86/linux_st/eclipse_cdt/    @cmancon
/demo/cross/shared/build/80x86/win32_*/                 @leanfrancucci
/demo/cross/shared/build/arm-cortex/                    @dariosb
/demo/libbsp/                                           @dariosb
/doc/                                                   @leanfrancucci
/source/                                                @leanfrancucci
/source/portable/80x86/                                 @leanfrancucci
/source/portable/arm-cortex/                            @dariosb
/source/portable/cv1/                                   @dariosb
/source/portable/s08/                                   @dariosb
/source/portable/test/                                  @leanfrancucci
/source/portable/ucos/                                  @dariosb
/template/                                              @leanfrancucci
/third-party/                                           @leanfrancucci
/third-party/unitrazer                                  @dariosb
/third-party/utrazer                                    @dariosb
/tools/                                                 @leanfrancucci

Fixed a spelling mistake in changelog.json
  tools/deploy/changelog.json
Owners: @leanfrancucci

Updated version and log of code changes
  doc/chglog.txt
  source/fwk/inc/rkhfwk_version.h
Owners: @leanfrancucci

Ignored generated files and directories by cmake
  demo/cross/blinky/build/.gitignore
  tools/deploy/.gitignore
Owners: @leanfrancucci

Added cmake files
  CMakeLists.txt
  cmake/.gitignore
  cmake/Doxyfile
  cmake/Doxyfile.in
  cmake/config.cmake
  cmake/doc.cmake
  cmake/execute_process.cmake
  demo/cross/blinky/CMakeLists.txt
  source/CMakeLists.txt
Owners: @leanfrancucci

Ignored generated cmake files and directories in blinky project
  demo/cross/blinky/build/.gitignore
Owners: @leanfrancucci

Enhanced cmake scripts
  cmake/config.cmake
  cmake/doc.cmake
Owners: @leanfrancucci

Allowed cross/blinky cmake project to use rkh cmake project
  CMakeLists.txt
  cmake/boilerplate.cmake
  demo/cross/blinky/CMakeLists.txt
  source/CMakeLists.txt
Owners: @leanfrancucci

BSP was become a library
  CMakeLists.txt
  cmake/boilerplate.cmake
  cmake/config.cmake
  demo/cross/blinky/CMakeLists.txt
  demo/libbsp/CMakeLists.txt
  source/CMakeLists.txt
Owners: @leanfrancucci, @dariosb

Working on three application scenarios (repository, workspace and freestanding) when using RKH cmake project
  CMakeLists.txt
  cmake/boilerplate.cmake
  cmake/config.cmake
  demo/cross/blinky/CMakeLists.txt
  demo/libbsp/CMakeLists.txt
  source/CMakeLists.txt
Owners: @leanfrancucci, @dariosb

Improved rkhplat.h and rkhtype.h adding defined() macro
  source/fwk/inc/rkhplat.h
  source/fwk/inc/rkhtype.h
Owners: @leanfrancucci

Working on cmake project to support find_package()
  CMakeLists.txt
  cmake/Config.cmake.in
  demo/cross/blinky/CMakeLists.txt.add_subdirectory
  demo/cross/blinky/CMakeLists.txt.find_package
  demo/libbsp/CMakeLists.txt
  source/CMakeLists.txt
Owners: @leanfrancucci, @dariosb

Added support for user package registry through rkh_export.cmake
  share/rkh-package/cmake/.gitignore
  share/rkh-package/cmake/rkh_export.cmake
  source/CMakeLists.txt
Owners: @leanfrancucci

Supported version file from Cmake
  CMakeLists.txt
  VERSION
  cmake/rkhfwk_version.h.in
  cmake/version.cmake
Owners: @leanfrancucci

Set Cmake messages mode of config/boilterplate.cmake to STATUS
  cmake/boilerplate.cmake
  cmake/config.cmake
Owners: @leanfrancucci

Called boilterplate script from pagacke config
  CMakeLists.txt
  cmake/Config.cmake.in
  cmake/boilerplate.cmake
  cmake/config.cmake
Owners: @leanfrancucci

Ignored commands to install RKH when RKH is bundle
  source/CMakeLists.txt
Owners: @leanfrancucci

Clean Cmake of Blinky demo
  demo/cross/blinky/CMakeLists.txt
Owners: @leanfrancucci

Working on doxygen target
  CMakeLists.txt
  doc/CMakeLists.txt
Owners: @leanfrancucci

Fixed doxygen warnings in source code
  doc/chglog.txt
  source/fwk/inc/rkhitl.h
  source/trc/inc/rkhtrc_define.h
Owners: @leanfrancucci

Set doxegen's WARN_IF_UNDOCUMENTED to NO
  doc/Doxyfile
Owners: @leanfrancucci

Generated Doxyfile file from a Cmake template
  doc/CMakeLists.txt
  doc/Doxyfile.in
  doc/readme.txt
Owners: @leanfrancucci

Added a CMake target to run regression tests
  CMakeLists.txt
  cmake/unittest.cmake
Owners: @leanfrancucci

Added blinky demo to demo/80x86 directory
  CMakeLists.txt
  demo/80x86/blinky/.gitignore
  demo/80x86/blinky/CMakeLists.txt
  demo/80x86/blinky/README.md
  demo/80x86/blinky/model/state-machine.drawio
  demo/80x86/blinky/src/blinky.c
  demo/80x86/blinky/src/blinky.h
  demo/80x86/blinky/src/bsp.h
  demo/80x86/blinky/src/event.h
  demo/80x86/blinky/src/main.c
  demo/80x86/blinky/src/priority.h
  demo/80x86/blinky/src/rkhcfg.h
  demo/80x86/blinky/src/signal.h
Owners: @leanfrancucci

Changed default value of NOT_FIND_PACKAGE variable
  CMakeLists.txt
Owners: @leanfrancucci

Did not call RKH_TIM_TICK() from bsp when timer services is disabled
  demo/libbsp/platform/80x86/linux/hook.c
Owners: @dariosb

Added Cmake project to ahsm demo
  demo/80x86/ahsm/CMakeLists.txt
  demo/80x86/ahsm/build/.gitignore
Owners: @leanfrancucci

Improved application Blinky in demo/cross
  demo/cross/blinky/CMakeLists.txt
Owners: @leanfrancucci

Fixed platform selection when installing
  CMakeLists.txt
  cmake/Config.cmake.in
  source/CMakeLists.txt
Owners: @leanfrancucci

Added specific demos's bsp modules to bsp library
  demo/libbsp/CMakeLists.txt
Owners: @dariosb

Removed specific demos' bsp modules from the bsp library
  demo/libbsp/CMakeLists.txt
Owners: @dariosb

Fixed a critical error in rkh_trc_open() when using Linux platform
  demo/libbsp/platform/80x86/linux/trace_io.c
Owners: @dariosb

Installed rkh_export.cmake
  source/CMakeLists.txt
Owners: @leanfrancucci

Did not use boilerplate from Config.cmake.in and prepared it to use rkh_export.cmake from the installation directory
  cmake/Config.cmake.in
  cmake/config.cmake
  share/rkh-package/cmake/rkh_export.cmake
Owners: @leanfrancucci

Added option (RKH_LIB_ALIAS) to append a suffix to the name of directory installation
  source/CMakeLists.txt
Owners: @leanfrancucci

Added tutorial to create apps using CMake
  doc/Doxyfile
  doc/cmake.md
  doc/images/trazer-output.png
  doc/rkh.txt
Owners: @leanfrancucci

Added link pages
  doc/cmake.md
  doc/readme.txt
Owners: @leanfrancucci

The script deploy generated CMake VERSION file and hid sensitive information
  tools/deploy/deploy.py
Owners: @leanfrancucci

Added version 3.4.00 to changelog.json
  tools/deploy/changelog.json
Owners: @leanfrancucci

Fixed escaped sequence in changelog.json
  tools/deploy/changelog.json
Owners: @leanfrancucci

Improved changelog.json's comments
  tools/deploy/changelog.json
Owners: @leanfrancucci
